<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pcapFilePath" value="C:\PcapngFiles\sample.pcapng"/>

    <add key="targetIp" value="172.17.102.43"/>
    <add key="targetPort" value="514"/>
    <!-- max events per second -->
    <add key="maxEps" value="20000"/>

    <!-- Number of times to repeat the file -->
    <add key="repeatCount" value="1"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>